[submodule "source/OpenWolf-Engine"]
	path = source/OpenWolf-Engine
	url = ../OpenWolf-Engine.git
[submodule "source/TremZ-Gamelogic"]
	path = source/TremZ-Gamelogic
	url = https://github.com/TheDushan/TremZ-Gamelogic
[submodule "source/TremZ-Gamedata"]
	path = source/TremZ-Gamedata
	url = https://github.com/TheDushan/TremZ-Gamedata
