config.sh
.cache-config.sh
homepath
basepath/bin
basepath/main
release
chat-logs
source/map-assets/*
source/game-assets/*

!source/map-assets/default
!source/game-assets/default

source/game-logic/main
source/game-logic/CMakeCache.txt
source/game-logic/CMakeFiles
source/game-logic/CPackConfig.cmake
source/game-logic/CPackSourceConfig.cmake
source/game-logic/Makefile
source/game-logic/cmake_install.cmake

*.swp
*tags

# OS X
####################
.Spotlight-V100/
.Trashes/
._*
.AppleDouble
.DS_Store
.LSOverride
Icon?

# Xcode
####################
*.mode1v3
*.mode2v3
*.pbxuser
*.perspectivev3
*.user
*.xcuserstate
*.moved-aside
*~.nib
.idea/
DerivedData/
project.xcworkspace/
xcuserdata/
profile
!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3

# Microsoft Visual Studio
####################
*.sdf
*.opensdf
*.suo
