[submodule "source/OpenWolf-Engine"]
	path = source/OpenWolf-Engine
	url = ../OpenWolf-Engine.git

	[submodule "default-paks-test"]
		path = default-paks-test
	url = https://github.com/GrangerHub/Stellar-Prey-Default-Paks-Test.git
