* text=auto

source/game-assets/*.cfg text eol=crlf
source/game-assets/*.config text eol=crlf
source/game-assets/*.dat text eol=crlf
source/game-assets/*.txt text eol=crlf
source/game-assets/*.armour text eol=crlf
source/game-assets/*.md text eol=crlf
source/game-assets/*.menu text eol=crlf
source/game-assets/*.h text eol=crlf
source/game-assets/*.lua text eol=crlf
source/game-assets/*.ase text eol=crlf
source/game-assets/*.skin text eol=crlf
source/game-assets/*all-wcprops text eol=crlf
source/game-assets/*entries text eol=crlf
source/game-assets/*format text eol=crlf
source/game-assets/*.fragment text eol=crlf
source/game-assets/*.vertex text eol=crlf
source/game-assets/*.shader text eol=crlf
source/game-assets/*.mtr text eol=crlf
source/game-assets/*.particle text eol=crlf
source/game-assets/*.trail text eol=crlf
source/game-assets/*.voice text eol=crlf
source/game-assets/*.map text eol=crlf
source/game-assets/*.arena text eol=crlf
source/game-assets/*.bot text eol=crlf

source/map-assets/*.cfg text eol=crlf
source/game-assets/*.config text eol=crlf
source/map-assets/*.dat text eol=crlf
source/map-assets/*.txt text eol=crlf
source/map-assets/*.armour text eol=crlf
source/map-assets/*.md text eol=crlf
source/map-assets/*.menu text eol=crlf
source/map-assets/*.h text eol=crlf
source/map-assets/*.lua text eol=crlf
source/map-assets/*.ase text eol=crlf
source/map-assets/*.skin text eol=crlf
source/map-assets/*all-wcprops text eol=crlf
source/map-assets/*entries text eol=crlf
source/map-assets/*format text eol=crlf
source/map-assets/*.fragment text eol=crlf
source/map-assets/*.vertex text eol=crlf
source/map-assets/*.shader text eol=crlf
source/game-assets/*.mtr text eol=crlf
source/map-assets/*.particle text eol=crlf
source/map-assets/*.trail text eol=crlf
source/map-assets/*.voice text eol=crlf
source/map-assets/*.map text eol=crlf
source/map-assets/*.arena text eol=crlf
source/map-assets/*.bot text eol=crlf
